@{
    ViewBag.Title = "titan";
}

<div >
 <br /><br />
</div>

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-th" style="font-size:56px"></span> titan</h1>
    <p class="lead"> Why not take a look at our main web page to see some of out other amazing products</p>
    <p><a href="http://www.631three.co.uk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
     

    
     
</div>